@import "tailwindcss";

@theme {
  --font-lato: 'Lato', sans-serif;
}

@utility small-caps {
  font-variant: small-caps;
  font-variant-caps: small-caps;
}

@utility font-lato {
  font-family: var(--font-lato);
}
